<div>
  <div>
    <h1>
      Story Feed
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new story
    </h2>

    <form action="/insert_photo" method="post">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <input type="hidden" name="query_owner_id" value="<%= @current_user.id %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count">
      </div>

      <button>
        Create story
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <!--
        <th>
          ID
        </th>
        -->

        <!-- 
        <th>Story</th>
        <th>Image</th>
        <th>Owner</th>
        <th>Location</th>
        <th>Likes count</th>
        <th>Comments count</th>
        <th>Created at</th>
        <th>Last edited</th>
        <th> </th>
      </tr>
      -->

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <!--  <td>
          <%= a_photo.id %>
        </td>
        -->
        <div class="container-sm">
          <div class="card">
            <div class="card-header">
              <%= a_photo.owner.username.capitalize() %>
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title"><%= a_photo.image %></h5> -->
              <center><h5 class="card-text"><%= a_photo.caption %></h6></center>
              <br>
              <center><img src="<%= a_photo.image %>" style="width:300px;height:200px;"></center> 
              
              <% if a_photo.comments.at(0) %>
                <h6 class="card-text">Anonymous comments</h6>
                <p class="card-text"><%= a_photo.comments.at(0).body %></p>
              <% else %>
                <p class="card-text">No comments</p>
              <% end %>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>

            <div class="card-footer">
              hello
            </div>
            
            <div class="card-footer text-muted">
              <%= time_ago_in_words(a_photo.created_at) %> ago
            </div>
          </div>
        </div>
        <br>
        <br>

        <!-- >
        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <img src="<%= a_photo.image %>" style="width:300px;height:200px;">
        </td>

        
        <td>
          <%= a_photo.owner.username %>  User.where({ :id => a_photo.owner_id })[0].username 
          </td>
        

        <td>
          <%= a_photo.location %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <%= a_photo.comments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <-->

      <% end %>
    </table>
  </div>
</div>

<hr>
