<div>
  <div>
    <br>
    <center>
      <h1>Story Feed</h1>
    </center>
  </div>
</div>

<hr>

<div>
  <div>
    

    

    <!--
    <hr>
      <div style="padding:10px; border:1px solid red;" align="center" valign="middle">
        <table border="1" align="center">
        <tr height="100%">
          <td height="100%" width="100%" valign="middle" align="center">
            We are launching soon!
          </td>
        </tr>
        </table>
      </div>
    -->

    
    <div class="centered">
    <div class="outlined">
    <form action="/insert_photo" method="post">
      <div style="padding:4px"></div>
      <center>
        <h3>Add a new story</h3>
      </center>

      <div class="form-group">
        <label for="caption_box">Story</label>
        <input type="text" class="form-control" id="caption_box" name="query_caption">
        <small id="storyHelp" class="form-text text-muted">Share your story with the world!</small>
      </div>

      <div class="form-group">
        <label for="image_box">Image Link</label>
        <input type="text" class="form-control" id="image_box" name="query_image">
      </div>

      <div class="form-group">
        <label for="location_box">Location</label>
        <input type="text" class="form-control" id="location_box" name="query_location">
      </div>

      <br>

      <div>
        <input type="hidden" name="query_owner_id" value="<%= @current_user.id %>">
      </div>

      <div>
        <input type="hidden" name="query_likes_count" id="likes_count_box" value=0>
      </div>

      <div>
        <input type="hidden" name="query_comments_count" id="comments_count_box" value=0>
      </div>

      <center><button class="btn btn-primary">Create story</button></center>
      <div style="padding:8px"></div>
    </form>
    </div>
    </div>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <!--
        <th>
          ID
        </th>
        -->

        <!-- 
        <th>Story</th>
        <th>Image</th>
        <th>Owner</th>
        <th>Location</th>
        <th>Likes count</th>
        <th>Comments count</th>
        <th>Created at</th>
        <th>Last edited</th>
        <th> </th>
      </tr>
      -->

      <% @list_of_photos.each do |a_photo| %>
      <tr>

        <% following_array = @current_user.followers.to_a %>
        <% # is_following = following_array.to_a.include?(a_photo.owner_id) %>
        <% #= following_array %>
        <% following_array.each do |a_user| %>
          <%= a_user.id %>
          <% if a_user.id == a_photo.owner_id %>
            <% already_follows = "True" %>
          <% else %>
            <% already_follows = "False" %>
          <% end %>
          <%= already_follows %>
        <% end %>

        <div class="container-sm centered">
          <div class="card">
            <div class="card-header">
              <div style="padding: 4px"></div>

              <% if already_follows == "True" %>
                <% request_id = FollowRequest.where({ :sender_id => @current_user.id }).where({ :recipient_id => a_photo.owner_id }).id %>
                User.where({ :id => a_photo.owner_id })[0].username
                <form action="/delete_follow_request/<%=a_photo.owner_id%>" method="post">

                <form action="/delete_follow_request/<%=the_favorite.user.id %>" method="post">
                <input type="hidden" name="query_other_user_id" value="<%=the_favorite.user.id%>">
                <button class="btn btn-outline-warning" style="color: #D79334;">Un-favorite</button>
                </form>
                
              <%else%>
                <form action="/insert_follow_request" method="post">
                <input type="hidden" name="query_other_user_id" value="<%=a_user.id%>">
                <button class="btn btn-warning">Favorite!</button>
                </form>
                
              <%end%>

              <div style="display: flex; justify-content: flex-end">
                <a class="btn btn-primary" href="#" role="button">Follow + </a>
              </div>
              <h5><%= a_photo.owner.username.capitalize() %></h5>
              <h5><%= a_photo.owner_id %></h5>
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title"><%= a_photo.image %></h5> -->
              <center>
                <div style="padding:3px 40px" align="center">
                <h6 class="card-text"><%= a_photo.caption %></h6>
                <div>
              </center>
              <br>
              <center><img src="<%= a_photo.image %>" style="width:300px;height:200px;"></center> 
              
              <% if a_photo.comments.at(0) %>
                <h6 class="card-text">Anonymous comments</h6>
                <p class="card-text"><%= a_photo.comments.at(0).body %></p>
              <% else %>
                <p class="card-text">No comments</p>
              <% end %>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <div class="card-footer">
              hello
            </div>
            
            <div class="card-footer text-muted">
              <%= time_ago_in_words(a_photo.created_at) %> ago
            </div>
          </div>
        </div>
        <br>
        <br>

        <!-- >
        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <img src="<%= a_photo.image %>" style="width:300px;height:200px;">
        </td>

        
        <td>
          <%= a_photo.owner.username %>  User.where({ :id => a_photo.owner_id })[0].username 
          </td>
        

        <td>
          <%= a_photo.location %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <%= a_photo.comments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <-->

      <% end %>
    </table>
  </div>
</div>

<hr>
